

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-title {
  position: relative;
  margin-bottom: 75px;
  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

.section-title h2:before {
  content: " ";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  width: 127px;
  height: 2px;
  background-color: #e0e0e0;
}

.section-title h2:after {
  content: " ";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 40px;
  height: 5px;
  background-color: #5672f9;
}

.section-title p {
  font-size: 18px;
  line-height: 30px;
  color: #848484;
}


.short-popular-category-list {
  margin-top: 40px;
}

.short-popular-category-list h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.short-popular-category-list ul {
  margin-top: 20px;
}

.short-popular-category-list ul li {
  margin: 0 2px;
}

.short-popular-category-list ul li a {
  border: 1px solid #1f3d55;
  border-radius: 7%;
  background-color: #f6ae01;
  color: #1f3d55;
  font-weight: bold;
  padding: 4px 10px;
  font-size: 12px;
}


.short-popular-category-list2 ul li a {
  border: 1px solid #1f3d55;
  border-radius: 7%;
  background-color: #f6ae01;
  color: #1f3d55;
  font-weight: bold;
  padding: 4px 10px;
  font-size: 12px;
}



.short-popular-category-list ul li a i {
  margin-right: 2px;
}


/* END HEADER  */



/* PRESENTATION PART */

.hr-blue {
  width: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(31, 61, 85, 1);
}



.project{
  background: linear-gradient(20deg,#8fcff5,#20a0e9);
}


.card-end{
    background:  rgba(31, 61, 85, 1);
}

.proj-date{
    color:#f6ae01;
}

.btn-proj {
  border-color: #1f3d55 !important;
  background: limegreen !important;
  color: rgba(31, 61, 85, 1);
}

.short-popular-category-list ul li p {
  border: 1px solid #1f3d55;
  border-radius: 7%;
  background-color: #f6ae01;
  color: #1f3d55;
  font-weight: bold;
  padding: 4px 10px;
  font-size: 12px;
}


/* END PRESENTATION */




  /* END EVENTS */