<!-- ---------HEADER + BANNER PART-------->
<section class="hero-area bg-1 text-center overly col-12">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block title-block">
          <h1>PARTICIP-NATION</h1>
          <p class="text-light">Join &amp; collaborate on unique projects...
            <br> or create Yours!</p>
          <div class="short-popular-category-list text-center">
            <h2 class="text-light">Popular categories</h2>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="">
                  <i class="fa fa-bed"></i> Hotel</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fas fa-user-ninja"></i>Fitness</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fa fa-car"></i> Cars</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fas fa-utensils"></i> Restaurants</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fa fa-coffee"></i> Cafe</a>
              </li>
            </ul>
            

          </div>
          <div class="mx-auto text-center my-5">
            <a routerLink="/register" class="btn btn-outline btn-main font-weight-bold border">GET STARTED</a>
          </div>

        </div>
        <!-- Advance Search -->
        <!--
        <div class="advance-search">
          <form action="#">
            <div class="row">
              <!-- Store Search -->
        <!--
              <div class="col-lg-6 col-md-12">
                <div class="block d-flex">
                  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="Search for project">
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="block d-flex">
                  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="Search for project">
                  <!-- Search Button -->
        <!--
                  <button class="btn btn-main">SEARCH</button>
                </div>
              </div>
            </div>
          </form>
          
        </div> -->

      </div>

    </div>
  </div>

  <!-- Container End -->
</section>
 
<!-- ---------PRESENTATION PART-------->
<section id="prez mb-5 py-5" data-aos="zoom-in-up">

  <div class="text-center my-5 py-5">
    <h2 class="text-center text-uppercase font-weight-bold"> Join the nation</h2>
    <hr class="hr-blue">
  </div>

  <div class="container">
    <div class="row my-5 py-5">
      <div class="col-md-4 mb-3">
        <div class="card text-center border border-dark">
          <div class="card-header card-end">
              <h5 class="card-title text-light">PROJECT_NAME</h5>
          </div>
          <div class="card-body  project">
            <p class="card-text">PROJECT_DESCRIPTION</p>
            <div class="short-popular-category-list">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <p>Category</p>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-block btn-proj font-weight-bold border">JOIN</a>
          </div>
          <div class="card-footer text-light card-end proj-date">
            <i class="far fa-calendar-alt"></i>
            01/01/2018
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3 text-right">
        <h4>Select a project <strong>to join it or CREATE one!</strong></h4>
        <h4 class="mb-5">Simply as that!</h4>
      </div>
    </div>
  </div>
</section>
 

<!-- ---------DESCRIPTTION PART-------->
<section id="mb-5 pt-5" class="bg-sec" data-aos="zoom-in-up">
  <div class="container">
      <div class="row my-5 pt-5">
          <div class="col-lg-12 text-center my-5">
              <h2 class="section-heading text-uppercase mb-3 font-weight-bold text-light">How it works?</h2>
              <hr class="hr-white">
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-user-plus fa-stack-1x fa-inverse zz"></i>
              </span>
              <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Sign up</h4>
         </div>
          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="300">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-hubspot fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Join a project, or..</h4>
         </div>

          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="600">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-folder-open fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Post one, or do both..</h4>
              
          </div>

          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="900">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading mb-3 text-uppercase font-weight-bold">Let's work!</h4>
        </div>
            <div class="mx-auto my-5"><a href="#" class="btn btn-proj font-weight-bold border">GET STARTED</a>
            </div>


      </div>
  </div>
</section>


<div class="container mt-5">
<!-- ---------EVENTS LIST PART---------->
<section>
 <div class="text-center py-5">   
    <h2 class="text-center text-uppercase font-weight-bold mt-5"> Latest Public Projects (posted by admin)</h2>
   <hr class="hr-blue">
 </div>
<div class="row my-5 py-5 events">
    <div class="col-md-4 mb-3" *ngFor="let event of events">
      <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">{{event.name}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{event.description}}</p>
          <p class="">Category:</p>
          <div class="short-popular-category-list2 text-center">
          <ul class="list-inline">
              <li class="list-inline-item">
                <a href="">
                  {{event.category}}</a>
              </li>
          </ul>
          </div>
          <a href="#" class="btn btn-primary">Join</a>
        </div>
        <div class="card-footer text-muted">
            <i class="far fa-calendar-alt"></i>
            {{event.date | date:'shortDate'}}
        </div>
      </div>
    </div>
  </div>
</section>
</div>