<!-- Footer starts here -->
<footer class="footer row mt-5 overly">  <!-- adapt header "overly" to footer-->
    <div class="container mt-5">
      <div class="row col-8 text-left">
          <div><h2 class="ml-2">Look at this wonderful footer</h2></div>
        </div>



        <div class="col-md-12 text-center">
          <p class="social-icons-header mb-4 mx-auto pl-4">
                 <a href="facebook.com"><i class="fab fa-facebook-square fa-2x mr-4"></i></a>
                 <a href="facebook.com"><i class="fab fa-twitter-square fa-2x mr-4"></i></a>
                 <a href="facebook.com"><i class="fab fa-linkedin fa-2x mr-4"></i></a>	
             </p>
        
        
      </div>
    </div>
  </footer>
