<section class="pb-5 mb-5" *ngIf="userData">

  <!-- Header banner-->
  <div class="row bg-sec pb-4">
    <div class="mx-auto text-center col-12">
      <img class="img-fluid" src="../../assets/dashboard.png">


      <!-- welcome message -->
      <h3 class="mt-5 text-light">Hi {{userData.username}}! Welcome to your Dashboard</h3>
      <p class="text-light font-weight-bold">Here you can
        <a href="">manage your projects</a>, create some &amp; change your infos instantly.</p>
    </div>
  </div>





  <div class="row">
    <!-- user account editing part-->
    <div class="col-lg-6 col-md-10 col-sm-11 d-inline-block my-5 mx-auto">
      <div class="card form-wh">
        <div class="card-header form-header">
          <h3 class="mb-0">Edit account</h3>
        </div>
        <div class="card-body">
          <div class="text-right mb-5">
            <h5 class="float-right d-block blink">You can instantly change your account details.</h5>
          </div>
          <form class="form">
            <div class="form-group">
              <label for="">New Username</label>
              <input [(ngModel)]="userData.username" name="username" type="text" class="form-control rounded-0">
            </div>
            <div class="form-group">
              <label for="">New Email</label>
              <input [(ngModel)]="userData.email" name="email" type="text" class="form-control rounded-0">
            </div>
            <div class="form-group">
              <label for="">New Password</label>
              <input [(ngModel)]="userData.password" name="password" type="password" class="form-control rounded-0">
            </div>

            <div class="form-group mx-auto mt-5">
              <button (click)="saveUser()" type="button" class="btn btn-primary btn-lg">Save</button> or...
              <button (click)="deleteUser()" type="button" class="btn btn-danger btn-lg">Delete account</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>




  <!-- get a list of users projects HERE-->







  





</section>
