<section id="prez mb-5 py-5" data-aos="zoom-in-up">

  <div class="text-center my-5 py-5">
    <h2 class="text-center text-uppercase font-weight-bold"> Join the nation</h2>
    <hr>
  </div>



  <div class="container">
    <div class="row my-5 py-5">
      <div class="col-md-4 mb-3">
        <div class="card text-center border border-dark">
          <div class="card-header card-end">
              <h5 class="card-title text-light">PROJECT_NAME</h5>
          </div>
          <div class="card-body  project">
            <p class="card-text">PROJECT DESCRIPTION</p>
            <a href="#" class="btn btn-proj font-weight-bold border">JOIN</a>
          </div>
          <div class="card-footer text-light card-end proj-date">
            <i class="far fa-calendar-alt"></i>
            01/01/2018
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3 text-right">
        <h4>Select a project <strong>to join it or CREATE one!</strong></h4>
        <h4 class="mb-5">Simply as that!</h4>
      </div>
    </div>
  </div>
</section>