<section id="mb-5 pt-5" class="bg-sec" data-aos="zoom-in-up">
  <div class="container">
      <div class="row my-5 pt-5">
          <div class="col-lg-12 text-center my-5">
              <h2 class="section-heading text-uppercase mb-3 font-weight-bold">How it works?</h2>
              <hr>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-user-plus fa-stack-1x fa-inverse zz"></i>
              </span>
              <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Sign up</h4>
<!--               <p class="text-muted">La quantité de déchets est devenue incontrôlable &amp; incontrolée, aux grands maux les grands remèdes!</p>
 -->          </div>
          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="300">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fab fa-hubspot fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Join a project, or..</h4>
<!--               <p class="text-muted">Un aller sans retour pour les détritus de tous types, toute provenance, vers une destination unique.</p>
 -->          </div>

          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="600">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-folder-open fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Post one, or do both..</h4>
              <!-- <p class="text-muted">Le Soleil et son environnement permet une destruction définitive, sans conséquence ni pour lui, ni pour la Terre,
                  ni pour les autres planètes...</p> -->
          </div>

          <div class="col-md-3">
              <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="900">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading mb-3 text-uppercase font-weight-bold">Let's work!</h4>
<!--               <p class="text-muted">La planète Terre sera débarrassée de tous ses déchets, une nouvelle ère démarrera...</p>
 -->          </div>
            <div class="mx-auto my-5"><a href="#" class="btn btn-proj font-weight-bold border">GET STARTED</a>
            </div>


      </div>
  </div>
</section>